#bs .btn-primary {background-color: red; border-color: red;}

#bs .btn-primary:hover {background-color: #ac2925; border-color: #ac2925;}

#bs .container {margin-top:5em; margin-bottom: 2em;}

#header {margin-bottom: 1em;}

#skills, #experience, #languages {padding-top: 2em; margin-top: -2em; }

body {position: relative; margin-top: 2em;}

a {color: red;}

a:hover {color: #ac2925}
a:focus {color: #ac2925}
a:visited {
    color: red;
    text-decoration: none;
}

.active {color: blue;}

@media screen and (max-width: 992px)
  {
    #trivia {text-align: center;}
}

@media screen and (min-width: 960px)
  {
    #resume {width:80%; margin: 0 auto;}
}

@media screen and (max-width: 500px)
  {
    #id_content {width: 90%;}
}