{% load static %}

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


<script src="{% static 'js/wow.min.js' %}"></script>

       <script>
       new WOW().init();
       </script>


<script src="{% static 'js/smooth-scroll.js' %}"></script>