{% load static %}



<nav class="navbar nav justify-content-center navbar-toggleable-md navbar-light fixed-top" id="top-nav">

    
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	
	<a class="navbar-brand" href="#">
        <h1>K|M</h1>
	  </a>
  <div class="collapse navbar-collapse justify-content-end" id="main-nav">
    
    <ul class="navbar-nav">
        {% for obj in object_list %}
            <li class="nav-item"><a class="nav-link" href="#{{ obj.header|lower|slugify }}">{{ obj.header }}</a></li>
        {% endfor %}


      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/karol-mularski">
            <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://bitbucket.org/kmularski/">
            <i class="fab fa-git fa-lg" aria-hidden="true"></i>
        </a>
      </li>



    </ul>
  </div>
  
</nav>







