{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}Karol Mularski{% endblock %}</title>
    {% include 'snippets/css.html' %}
  	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

</head>
<body id="bs" data-spy="scroll" data-target="main-nav">

{% include 'snippets/nav.html' %}

<div class="container">
{% include 'header.html' %}
{% include 'resume.html' %}
{% include 'contact.html' %}
</div>

{% include 'snippets/js.html' %}
</body>
</html>