{% load static %}


    <div class="row" id="header">
    <div class="col-lg-3 offset-lg-2 col-md-12 text-center">
        <img style="margin-bottom: 1em;" class="rounded-circle wow fadeIn" src="{% static 'mularski_kw.jpg' %}"
    				 width="220" height="220">
    </div>
    <div class="col-lg-5 col-md-12" id="trivia">
        <h1>Personal info</h1>
        <p>Karol Mularski</p>
        <p>Phone: 506 241 379</p>
        <p>E-mail: <a href="mailto:contact@karolmularski.me" target="_top">contact@karolmularski.me</a></p>
        <p><a href="https://bitbucket.org/kmularski/" target="_blank">My Bitbucket (Git)</a></p>
    </div>
    </div>


