{% load static %}

<div class="row justify-content-md-center" style="text-align: center;">
	<div id="resume">
    		{% for obj in object_list %}
			<div style="col-sm-12 col-md-8"  id="{{ obj.header|lower|slugify }}">
                <h1 align="center">{{ obj.header }}</h1>
                    {{ obj.description|safe }}
              </div>
            {% endfor %}
	</div>
</div>
  
