.btn-primary {background-color: red; border-color: red;}

#bs .container {margin-top:5em; margin-bottom: 2em;}

#skills, #experience, #languages {padding-top: 2em; margin-top: -2em;}

body {position: relative; margin-top: 2em;}

a {color: red;}

a:hover {color: #ac2925}
a:focus {color: #ac2925}
a:visited {
    color: red;
    text-decoration: none;
}

#main-nav .active {color: blue;}

@media screen and (max-width: 576px)
  {
    #trivia {text-align: center;}
}
